[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sathishsettu
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sathishsettu
	label-Verified = -1..+1 group user/sathishsettu
	push = group user/sathishsettu
	read = group user/sathishsettu
	rebase = group user/sathishsettu
	removeReviewer = group user/sathishsettu
	submit = group user/sathishsettu
[access "refs/heads/*"]
	create = group user/sathishsettu
	push = +force group user/sathishsettu
	pushMerge = group user/sathishsettu
	read = group user/sathishsettu
[access "refs/tags/*"]
	push = group user/sathishsettu
	push = +force group user/sathishsettu
